/* Variables */
:root {
	--tab-min-height: 32px !important;
	--tab-min-width:  60px !important;
	/* --toolbarbutton-icon-fill-attention: red !important; */
}

/* Fix for the weird white line on Wayland(?) */
body > box {
	margin-bottom: -1px !important;
}

/* Chrome-rounded-style URL bar */
#urlbar:not([breakout-extend="true"]) #urlbar-background {
	border-radius: 16px !important;
}

#browser vbox#appcontent tabbrowser,
#content,
#tabbrowser-tabpanels,
browser[type=content-primary],
browser[type=content] > html {
	background: #2C2C2C !important;
}

/* Tab height - restore compact */
#tabbrowser-tabs {
	height: 38px;
}

/* Gradient-compatible colors */
tabs#tabbrowser-tabs tab:not([selected]),
tabs#tabbrowser-tabs toolbarbutton	   .toolbarbutton-icon,
tabs#tabbrowser-tabs toolbarbutton:hover .toolbarbutton-icon {
	color: white !important;
}

/* Remove the waste of space */
#TabsToolbar > .titlebar-spacer {
	display: none !important;
}
/* Waste our own space, but smaller */
#TabsToolbar > .toolbar-items {
	margin:  0 0.5em !important;
	display: flex; /* Need this for child to fill height, unsure why. */
	flex-direction: row;
}

/* Slight padding. */
#TabsToolbar tab.tabbrowser-tab .tab-stack {
	margin: 0 var(--toolbarbutton-outer-padding) !important
}
/* Hide the border on top of the tabs */
#TabsToolbar tab.tabbrowser-tab .tab-line {
	display: none !important;
}

/* Fix a slight padding offset on tab hover. */
#TabsToolbar tab.tabbrowser-tab .tab-close-button {
	width:  16px !important;
	height: 16px !important;
	padding: 3px !important;
	margin-left: 0px !important;
}

/* Slight tweak: lighten the tab separator */
#TabsToolbar .tabbrowser-tab::after, .tabbrowser-tab::before {
	opacity: 0.2 !important;
}

/* SHADOWS!!! */
#TabsToolbar .tabbrowser-tab[visuallyselected="true"] .tab-background {
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75) !important;
}

/* Add a bit of padding */
#urlbar-container {
	margin:  0px var(--toolbarbutton-outer-padding) !important;
	padding: 1px var(--toolbarbutton-outer-padding) !important;
	min-width: 500px !important;
}
/* Hide the Pocket button */
#urlbar-input-container #pocket-button {
	display: none;
}
/* Default buttons to not have border radiuses. */
#urlbar-input-container box[role="button"] {
	border-radius: 0 !important;
}
/* Left-most button in the address bar */
#urlbar-input-container #tracking-protection-icon-container {
	border-radius: 999px 0 0 999px !important;
}
/* Right-most */
#urlbar-input-container #star-button-box {
	border-radius: 0 999px 999px 0 !important;
}

/* Bigger avatar so we can admire it more. */
#fxa-avatar-image {
	width:  20px !important;
	height: 20px !important;
}
/* Reduce padding to account for the above change. */
#fxa-toolbar-menu-button > stack {
	--toolbarbutton-inner-padding: 6px !important;
}

/* Hide tab left/right buttons since I never use them. */
#scrollbutton-up,
#scrollbutton-down {
	display: none;
}

/* Hide the New Tab button. */
#alltabs-button,
#new-tab-button,
#tabs-newtab-button {
	display: none !important;
}

.webextension-browser-action {
	opacity: 0.25;
	transition: linear 50ms opacity;
}
.webextension-browser-action:hover {
	opacity: 1 !important;
}

/* Popup tweaks. */
.notification-message {
	padding-block: 0px !important;
}
.container.infobar {
	align-items: center !important;
}

/* Bruh.
 * This is too much to comment individually, but it is the unholy code to style
 * the tab and address bar to be on the same line. It may break with the
 * bookmark bar.
 *
 * It also forces the headerbar's height to be the same as the compact Materia
 * theme, because that's what I use.
 */

#navigator-toolbox {
	height:  41px !important; /* No idea why. */
	display: flex;
	flex-direction: row-reverse;

	border-radius: 4px 4px 0 0;
	background: #161616
}
#tab-notification-deck *,
#BrowserToolbarPalette * {
	background-color: transparent;
}
#titlebar {
	flex: 1;
	appearance: none !important;
	border-left: 1px solid #0005;
}

#TabsToolbar-customization-target {
	flex: 1;
}

/* Selectors for common transitions. */
#nav-bar {
	transition: 300ms cubic-bezier(.45,.05,.55,.95);
	transition-delay: 300ms;
	transition-property: max-width, box-shadow, color, background-color;
}

#nav-bar:hover,
#nav-bar[urlbar-exceeds-toolbar-bounds="true"] {
	transition-delay: 100ms;
}

#nav-bar {
	background: transparent !important;

	max-width:  400px;
	box-shadow: inset -20px 0px 20px -20px rgba(0,0,0,0.35) !important;
}
#nav-bar:hover,
#nav-bar[urlbar-exceeds-toolbar-bounds="true"] {
	max-width:  100%;
	box-shadow: none;
}


#urlbar-background {
	border: none !important;
	background-color: transparent !important;
}

#nav-bar[urlbar-exceeds-toolbar-bounds="true"] #urlbar {
	color: white !important;
}
#nav-bar[urlbar-exceeds-toolbar-bounds="true"] #urlbar-background {
	background-color: var(--toolbar--field-non-lwt-bgcolor, Field) !important;
}

/* TODO: this is garbage and stuttery. */

/* /1* Show only the address bar by default. *1/ */
/* #PanelUI-button, */
/* #nav-bar-customization-target > *:not(#urlbar-container) { */
/* 	display: none; */
/* } */
/* #nav-bar:hover                                 #PanelUI-button, */
/* #nav-bar[urlbar-exceeds-toolbar-bounds="true"] #PanelUI-button, */
/* #nav-bar:hover                                 #nav-bar-customization-target > *, */
/* #nav-bar[urlbar-exceeds-toolbar-bounds="true"] #nav-bar-customization-target > * { */
/* 	display: inherit; */
/* } */

/* Show the lhs and drhs buttons only when hovering above the address bar. */
#nav-bar [id^="pageAction-"],
#nav-bar #identity-permission-box {
	display: none !important;
}
#nav-bar:hover [id^="pageAction-"],
#nav-bar:hover #identity-permission-box {
	display: inherit !important;
}

#urlbar {
	top: 4px !important; /* Magic constant. */
}

spacer[part^="overflow-"] {
	width: 10px !important;

	background-image: linear-gradient(to right,
		rgba(0, 0, 0, 0.35) 0%,
		rgba(0, 0, 0, 0.15) 15%,
		rgba(0, 0, 0, 0.00) 100%
	);
}
spacer[part="overflow-start-indicator"] {
	margin-inline: -0.5px -9.25px !important;
}
spacer[part="overflow-end-indicator"] {
	margin-inline: -8.5px -0.5px !important;
}
spacer.closing-tabs-spacer {
	width: 5px !important;
}

.tabbrowser-tab {
	padding-inline: 0px !important;
}
